.slider-container {
    height: calc(100vh - 250px);
    width: 100%;
    display: flex;
}

.slider-wrapper {
    height: 100px;
}

.slide {
    height: calc(100vh - 250px);
    width: 100vw;
    display: flex;
    align-items: center;
}

.slide.first-slide {
    background: rgb(16, 222, 178);
    background: linear-gradient(135deg, rgba(16, 222, 178, 1) 0%, rgba(251, 197, 49, 1) 100%);
}

.slide.second-slide {
    background: rgb(250, 112, 154);
    background: linear-gradient(90deg, rgba(250, 112, 154, 1) 0%, rgba(254, 225, 64, 1) 100%);
}

.slide.third-slide {
    background: rgb(67, 233, 123);
    background: linear-gradient(45deg, rgba(67, 233, 123, 1) 0%, rgba(56, 249, 215, 1) 100%);
}

.slide-image-wrapper {
    height: 90%;
    width: 50%;
}

.slide-image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.slide-info-wrapper {
    width: 50%;
    margin-right: 40px;
}

.slide-info-title {
    font-size: 40px;
}

.slide-info-desc {
    margin: 21px 0;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 3px;
}