.slider-container {
    height: calc(100vh - 250px);
    width: 100%;
    display: flex;
    position: relative;
    overflow: hidden;
}

.arrow-right,
.arrow-left {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 110, 0.5);
    color: var(--main-color);
    border-radius: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    cursor: pointer;
    z-index: 2;
    font-size: 30px;
}

.arrow-left {
    left: 10px;
}

.arrow-right {
    right: 10px;
}

.slider-wrapper {
    height: 100%;
    display: flex;
    transition: all .5s ease;
}

.slide {
    height: calc(100vh - 250px);
    width: 100vw;
    display: flex;
    align-items: center;
}

.slide-1 {
    background: rgb(16, 222, 178);
    background: linear-gradient(135deg, rgba(16, 222, 178, 1) 0%, rgba(251, 197, 49, 1) 100%);
}

.slide-2 {
    background: rgb(250, 112, 154);
    background: linear-gradient(90deg, rgba(250, 112, 154, 1) 0%, rgba(254, 225, 64, 1) 100%);
}

.slide-3 {
    background: rgb(67, 233, 123);
    background: linear-gradient(45deg, rgba(67, 233, 123, 1) 0%, rgba(56, 249, 215, 1) 100%);
}

.slide-image-wrapper {
    height: 90%;
    width: 50%;
}

.slide-image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.slide-info-wrapper {
    width: 50%;
    margin-right: 40px;
}

.slide-info-title {
    font-size: 40px;
}

.slide-info-desc {
    margin: 21px 0;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 3px;
}